<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.oa.mapper.GgMapper">

    <select id="getGgList" resultType="com.zjw.oa.entity.Gsgg">
        select * from gsgg where isZs=1 order by ggTime desc
    </select>

    <select id="getxmList" resultType="com.zjw.oa.entity.Xmjd">
      select * from xmjd order by xmjd
    </select>

</mapper>