<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.oa.mapper.RwMapper">

    <select id="myRw" resultType="com.zjw.oa.entity.Rw" parameterType="com.zjw.oa.entity.Rw">
        select * from  rw where jsUserId=#{jsUserId}
        <if test="rwmc!=null and rwmc!=''">
            and remc like concat('%',#{rwmc},'%')
        </if>
        <if test="jjcd!=null and jjcd!=''">
            and jjcd =#{jjcd}
        </if>
        order by rwTime desc
    </select>

    <select id="rwXq" resultType="com.zjw.oa.entity.Rw" parameterType="com.zjw.oa.entity.Rw">
        select * from  rw where rwId=#{rwId}
    </select>

    <delete id="delRw" parameterType="com.zjw.oa.entity.Rw">
        delete from rw where rwId=#{rwId}
    </delete>

    <update id="updateRw" parameterType="com.zjw.oa.entity.Rw">
        update set rwId=#{rwId}
        <if test="rwmc!=null and rwmc!=''">
            , rwmc =#{rwmc}
        </if>
        <if test="rwms!=null and rwms!=''">
            , rwms =#{rwms}
        </if>
        <if test="rwTime!=null and rwTime!=''">
            , rwTime =#{rwTime}
        </if>
        <if test="jsUserId!=null and jsUserId!=''">
            , jsUserId =#{jsUserId}
        </if>
        <if test="jsUserName!=null and jsUserName!=''">
            , jsUserName =#{jsUserName}
        </if>
        <if test="fbUserId!=null and fbUserId!=''">
            , fbUserId =#{fbUserId}
        </if>
        <if test="fbUserName!=null and fbUserName!=''">
            , fbUserName =#{fbUserName}
        </if>
        <if test="jjcd!=null and jjcd!=''">
            , jjcd =#{jjcd}
        </if>
        from rw where rwId=#{rwId}
    </update>

    <insert id="addRw" parameterType="com.zjw.oa.entity.Rw">
        insert into rw(rwmc, rwms, rwTime, jsUserId, fbUserId, jsUserName, fbUserName)
        values(#{rwmc},#{rwms},#{rwTime},#{jsUserId},#{fbUserId},#{jsUserName},#{fbUserName})
    </insert>

    <select id="getHytz" parameterType="com.zjw.oa.entity.Hytz" resultType="com.zjw.oa.entity.Hytz">
        select * from hyzt
    </select>

</mapper>