<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.pe.mapper.UserMapper">

    <select id="userLogin" resultType="com.yzy.pe.entity.User" parameterType="com.yzy.pe.entity.User">
        SELECT
        *
        FROM
        user
        WHERE
        userId = #{userId}
        and pwd = #{pwd}
    </select>

    <select id="getUserList" resultType="com.yzy.pe.entity.User" parameterType="com.yzy.pe.entity.User">
        SELECT
        *
        FROM
        user
    </select>

</mapper>